In [1]:
import pandas as pd
df = pd.read_excel("TToronto_apartment_rentals_2018.csv.xlsx")
df.head()

,"Bedroom,Bathroom,Den,Address,Lat,Long,Price","Bedroom,Bathroom,Den,Address,Lat,Long,Price.1","Bedroom,Bathroom,Den,Address,Lat,Long,Price.2","Bedroom,Bathroom,Den,Address,Lat,Long,Price.3","Bedroom,Bathroom,Den,Address,Lat,Long,Price.4","Bedroom,Bathroom,Den,Address,Lat,Long,Price.5","Bedroom,Bathroom,Den,Address,Lat,Long,Price.6","Bedroom,Bathroom,Den,Address,Lat,Long,Price.7","Bedroom,Bathroom,Den,Address,Lat,Long,Price.8","Bedroom,Bathroom,Den,Address,Lat,Long,Price.9",...,"Bedroom,Bathroom,Den,Address,Lat,Long,Price.14","Bedroom,Bathroom,Den,Address,Lat,Long,Price.15","Bedroom,Bathroom,Den,Address,Lat,Long,Price.16","Bedroom,Bathroom,Den,Address,Lat,Long,Price.17","Bedroom,Bathroom,Den,Address,Lat,Long,Price.18","Bedroom,Bathroom,Den,Address,Lat,Long,Price.19","Bedroom,Bathroom,Den,Address,Lat,Long,Price.20","Bedroom,Bathroom,Den,Address,Lat,Long,Price.21","Bedroom,Bathroom,Den,Address,Lat,Long,Price.22","Bedroom,Bathroom,Den,Address,Lat,Long,Price.23"
0,"2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...",...,"2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ...","2,2,0,""3985 Grand Park Drive, 3985 Grand Park ..."
1,"1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...",...,"1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca...","1,1,1,""361 Front St W, Toronto, ON M5V 3R5, Ca..."
2,"1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...",...,"1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""...","1,1,0,""89 McGill Street, Toronto, ON, M5B 0B1""..."
3,"2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...",...,"2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4...","2,2,0,""10 York Street, Toronto, ON, M5J 0E1"",4..."
4,"1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...",...,"1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ...","1,1,0,""80 St Patrick St, Toronto, ON M5T 2X6, ..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1124 entries, 0 to 1123
Data columns (total 24 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Bedroom,Bathroom,Den,Address,Lat,Long,Price     1124 non-null   object
 1   Bedroom,Bathroom,Den,Address,Lat,Long,Price.1   1124 non-null   object
 2   Bedroom,Bathroom,Den,Address,Lat,Long,Price.2   1124 non-null   object
 3   Bedroom,Bathroom,Den,Address,Lat,Long,Price.3   1124 non-null   object
 4   Bedroom,Bathroom,Den,Address,Lat,Long,Price.4   1124 non-null   object
 5   Bedroom,Bathroom,Den,Address,Lat,Long,Price.5   1124 non-null   object
 6   Bedroom,Bathroom,Den,Address,Lat,Long,Price.6   1124 non-null   object
 7   Bedroom,Bathroom,Den,Address,Lat,Long,Price.7   1124 non-null   object
 8   Bedroom,Bathroom,Den,Address,Lat,Long,Price.8   1124 non-null   object
 9   Bedroom,Bathroom,Den,Address,Lat,Long,Price.9   1124 non-null   object
 10  Bedroom,Bathroom,Den,Address,Lat,Long,Price.10  1124 non-null   object
 11  Bedroom,Bathroom,Den,Address,Lat,Long,Price.11  1124 non-null   object
 12  Bedroom,Bathroom,Den,Address,Lat,Long,Price.12  1124 non-null   object
 13  Bedroom,Bathroom,Den,Address,Lat,Long,Price.13  1124 non-null   object
 14  Bedroom,Bathroom,Den,Address,Lat,Long,Price.14  1124 non-null   object
 15  Bedroom,Bathroom,Den,Address,Lat,Long,Price.15  1124 non-null   object
 16  Bedroom,Bathroom,Den,Address,Lat,Long,Price.16  1124 non-null   object
 17  Bedroom,Bathroom,Den,Address,Lat,Long,Price.17  1124 non-null   object
 18  Bedroom,Bathroom,Den,Address,Lat,Long,Price.18  1124 non-null   object
 19  Bedroom,Bathroom,Den,Address,Lat,Long,Price.19  1124 non-null   object
 20  Bedroom,Bathroom,Den,Address,Lat,Long,Price.20  1124 non-null   object
 21  Bedroom,Bathroom,Den,Address,Lat,Long,Price.21  1124 non-null   object
 22  Bedroom,Bathroom,Den,Address,Lat,Long,Price.22  1124 non-null   object
 23  Bedroom,Bathroom,Den,Address,Lat,Long,Price.23  1124 non-null   object
dtypes: object(24)
memory usage: 210.9+ KB

In [3]:
df.columns

Index(['Bedroom,Bathroom,Den,Address,Lat,Long,Price',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.1',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.2',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.3',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.4',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.5',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.6',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.7',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.8',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.9',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.10',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.11',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.12',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.13',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.14',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.15',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.16',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.17',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.18',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.19',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.20',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.21',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.22',
       'Bedroom,Bathroom,Den,Address,Lat,Long,Price.23'],
      dtype='object')

In [2]:
df.shape

(1124, 24)